# Environments
.venv/
.env
.env.local

# Python internals
__pycache__/
*.py[cod]
*$py.class

# Local Experimental testing
playground/

# Sensitive files & Logs
gemini-models.txt
*.log
secret_key.txt

# Database files
*.sql
*.sqlite3
*.sql_dump

# Editor / IDE settings
.vscode/
.idea/
.DS_Store

# EXCEPTIONS: Allow the database blueprint
!database/schema.sql