# Environments
.venv/
.env
.env.local

# Python internals
__pycache__/
*.py[cod]
*$py.class

# Local Experimental testing, extra files
playground/

# Database files
*.sql
*.sqlite3
*.sql_dump

# Editor / IDE settings
.vscode/
.idea/
.DS_Store

# EXCEPTIONS
!database/schema.sql